body {
    margin: 0;
    padding: 0;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(55, 56, 74);
    color: white;
  }
  
  .header {
    padding: 20px;
    text-align: center;
  }
  
  .pokemon-list {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 350px; 
    max-height: calc(100vh - 40px);
    overflow-y: auto; 
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .pokemon-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
  }
  
  .pokemon {
    text-align: center;
  }
  
  .pokemon img {
    width: 100%;
    max-width: 150px;
    height: auto;
  }
  